.row1, .row2, .row3 {
    width: 100%;
    display: flex; justify-content: space-between; align-items: center;
    
    div {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        width: 100%;
    }
    
    p {
        background-color: white;
        font-size: 20px;
    }

    img {
        height: 300px; width: 400px;
        margin: 5px;
        border: 2px solid black;
    }

}